@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900,800,700,600,500,300,200,100);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Exo 2", sans-serif;
  font-size: 100%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
body {
  font-family: "Exo 2", sans-serif;
  font-size: 100%;
  font-weight: 300;
}
.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* ----------------------------------------------------------------------------------------------- */

.header{
    padding: 30px;
    align-content: right;
    position: relative;
    vertical-align: middle;
}

.header img {
    width: 10%;
    height: auto;
    margin-left: 20px;
    vertical-align: middle;
}

.header a {
    vertical-align: middle;
    text-align: right;
    text-decoration: none;
    margin-right: 15px;
    margin-left: auto;
    color: #AAAAAA;
}

.header a:last-child {
    margin-right: 50px;
    color: #000000;
}
.header a:hover {
    color: coral;
}
.header div{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    right: 0;
    top: 40%;
}
select {
    width: 49%;
    border: 3px solid #ccc;
}
.main-content{
    background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("./assets/forest-1024x679.jpeg");
    color: #000000;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-header {
    color: #4A4A4A;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px;
    font-size: 1.2rem;
    background-color: #505050;
    color: white;
    border: none;
}

.form-submit {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
}

.form-row input,textarea {
    border: 3px solid #ccc;
    width: 49%;
    font-size: 1rem;
    padding: 10px;
}
textarea {
    width: 100%;
    height: 10vw;
    font-size: 1.5rem;
}
textarea:focus {
    outline: none;
}
.form-row input:focus {
    outline: none;
}

.invisible {
    position: relative;
    width: 100%;
    height: calc( 100px + 100px + 20vh );
}

.footer{
    position: absolute;
    bottom: 0;
    margin-top: 100px;
}

.social {
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.round {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 5%;
    width: 20%;
    height: 100%;
    border-radius: 50%;
    background-color: #EEEEEE;
    text-align: center;
}

.round img {
    cursor: pointer;
    width: 90%;
    height: auto;
}

.foot {
    position: relative;
    background-color: #EEEEEE;
    height: 20vh;
    width: 100%;
}

.foo {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
.foo div {
    padding: 10px;
    display: inline-block;
}

.foo a {
    vertical-align: middle;
    text-align: right;
    text-decoration: none;
    margin-right: 15px;
    margin-left: auto;
    color: #000000;
}

.foo a::after{
    content: '|';
    margin-left: 15px;
}

.foo a:last-child::after{
    content: '';
    margin-left: 15px;
}

.foo a:hover {
    color: coral;
}